<!DOCTYPE html>
<html lang="en">
<head>
  {% import "bootstrap/wtf.html" as wtf %}
  <title>Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Login.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-custom">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="{{ url_for('static',filename='images/logo2.png') }}" style="width:100%">
  </a>
</nav>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h1 id="loginHeader">Staff Register</h1>
    </div>

    <!-- Login Form -->
    <form method="POST" action="/register" id="registerForm">
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.name, class="fadeIn second", placeholder="Enter your name here") }}
      <p class="errorMsg" id="nameError" hidden></p>
      {{ wtf.form_field(form.password, class="fadeIn third", placeholder="Enter your password here") }}
      <p class="errorMsg" id="passwordError" hidden></p>
<!--      <input type="text" id="registerName" class="fadeIn second" name="name" placeholder="Name">-->
<!--      <p class="errorMsg" id="nameError" hidden>Please enter your name</p>-->
<!--      <input type="password" id="registerPassword" class="fadeIn third" name="password" placeholder="Password">-->
<!--      <p class="errorMsg" id="passwordError" hidden>Please enter your password</p>-->
<!--      <div class="row" id="videoRow" hidden>-->
<!--          <video id="player" autoplay playsinline style="pointer-events: none;"></video>-->
<!--          <canvas id="canvas" hidden></canvas>-->
<!--      </div>-->
      <input type="button" class="fadeIn fourth" value="Register" id="submitBtn">
    </form>

    <div id="formFooter">
      <a class="underlineHover" id="loginBtn" href="/">Login</a>
    </div>

    <div id="videoModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2 class="FRTitle">Facial Verification</h2>
        <h3 class="FRDesc">We will now take 5 pictures from 5 different angles to use for facial verification</h3>
        <h4 class="FRIns"> Capture a picture of yourself with your head <p style="color:red" id="position">tilted up</p></h4>
        <p class="errorMsg" id="photoError" hidden>No face detected. Please recapture the picture.</p>
        <video id="player" autoplay playsinline style="pointer-events: none;"></video>
        <canvas id="canvas" width="500" height="500" hidden></canvas>
        <input type="button" class="fadeIn fourth" value="Capture picture" id="captureBtn">
      </div>

    </div>

  </div>
</div>
</body>
<script type="text/javascript">
  let nameList = {{names | safe}}
</script>
<script type="text/javascript" src="{{ url_for('static',filename='javascript/Register.js') }}"></script>
</html>